.daily {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.4rem;
}

.daily .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.daily .row .day {
    text-align: left;
}

.daily .row div {
    flex-grow: 1;
    width: 33%;
}

.daily .row img {
    height: 50px;
}

.daily .row .temperature {
    text-align: right;
}

.daily .row .temperature div {
    display: inline;
}

.daily .row .temperature div:last-child {
    font-weight: 600;
}