.humidity {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100%;
}

.humidity .title {
    font-size: 1.2rem;
}


