.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    width: 100%;
}

.info-container {
    width: 1280px;
}

.flexbox-container{
    display:flex;
    width: 100%;
}

.flexbox-item{
    width : 100%;
    border : 3px solid black;
    background-color:aliceblue;
    margin: 10px;   
    border-radius: 10px; 
    min-height:100px;
}


.flexbox-item-bottom-row{
    width : 100%;
    min-height:200px;
    margin: 10px;
}

.flexbox-item-daily{
}

.flexbox-item-2{
}


.flexbox-item-3{
}

.info .row1 {
    height: 240px;
}

.info .row1 .flexbox-item:first-child {
    border: none;
    background-color: transparent;
}

.info .row2 {
    height: 180px;
}

.info .row2 .flexbox-item {
    background-color: #ffffff;
}

.info .middle {
    height: 100%;
}

.info .middle .flexbox-item {
    background-color: #ffffff;
}