.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 1280px;
}

.landing .bookmarks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
    color: #ffffff;
    font-weight: 600;
}

.landing .bookmarks .row {
    display: flex;
}

.landing .bookmarks .bookmark-icon {
    position: relative;
    top: 2px;
    right: 25px;
    cursor: pointer;
}

.landing .bookmarks .bookmark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100px;
    background-color: #86a8b3;
    transition: 0.2s;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.landing .bookmarks .bookmark:hover {
    background-color: #647780;
    cursor: pointer;
}

.landing .bookmark .description {
    font-weight: 400;
}

.landing .bookmark .min-temp {
    font-weight: 400;
}

.landing .bookmark .max-temp {
    font-weight: 600;
}