.search .input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 40px;
}

.search .input-container .input {
    box-sizing: border-box;
    width: 400px;
    height: 100%;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid #a9a9a9;
    padding: 8px;
}

.search .input-container .input:hover {
    outline: none;
}

.search .input-container .button {
    height: 100%;
    font-size: 1.2rem;
    border-radius: 0;
    border: 1px solid #a9a9a9; 
    padding: 0 10px;
}

.search .input-container .button:hover {
    cursor: pointer;
}

.search .results {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    border: solid 1px #a9a9a9;
}

.search .results:empty {
    border: none;
}

.search .results .result {
    padding: 5px;
    font-size: 1.2rem;
    background-color: #ffffff;
}

.search .results .result:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}