.search .input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 400px;
    height: 40px;
    border: solid 1px #888888;
    border-radius: 8px;
    padding: 2px;
}

.search .input-container .input {
    box-sizing: border-box;
    width: 400px;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 8px;
}

.search .input-container .input:hover {
    outline: none;
}

.search .input-container .clear-icon {
    cursor: pointer;
    color: #535353;
}

.search .input-container .search-icon {
    color: #535353;
}

.search .results {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    border: solid 1px #a9a9a9;

}

.search .results:empty {
    border: none;
}

.search .results .result {
    padding: 5px;
    font-size: 1rem;
    background-color: #ffffff;
    transition: 0.3s;
}

.search .results .result:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}