.search {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 40px;
}

.search .input {
    box-sizing: border-box;
    width: 400px;
    height: 100%;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid #a9a9a9;
    padding: 8px;
}

.search .input:hover {
    outline: none;
}

.search .button {
    height: 100%;
    font-size: 1.2rem;
    border-radius: 0;
    border: 1px solid #a9a9a9; 
    padding: 0 10px;
}

.search .button:hover {
    cursor: pointer;
}