.wind {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 14px;
}

.wind .title {
    font-size: 1.2rem;
}

.wind .info {
    font-size: 2rem;
}